In [80]:
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
run = pd.read_csv("./data/smni_eeg_data/a_1_co2a0000364/co2a0000364.rd.000", sep=' ', header=None, comment='#')
run.rename(index=str, columns={0: "run_id", 1: "channel", 2: "sample_id", 3: "voltage"}, inplace=True)
run.head()

   run_id channel  sample_id  voltage
0       0     FP1          0   -8.921
1       0     FP1          1   -8.433
2       0     FP1          2   -2.574
3       0     FP1          3    5.239
4       0     FP1          4   11.587

In [82]:
# Data is often stored in CSV files or databases in so-called “stacked” or “record” format:
# https://pandas.pydata.org/pandas-docs/stable/reshaping.html
pivTab = run.pivot(index= 'sample_id', columns='channel', values='voltage')
pivTab.tail()

channel,AF1,AF2,AF7,AF8,AFZ,C1,C2,C3,C4,C5,...,PO8,POZ,PZ,T7,T8,TP7,TP8,X,Y,nd
sample_id,,,,,,,,,,,,,,,,,,,,,
251,1.272,5.035,1.211,-10.997,0.966,1.801,0.305,-1.251,-1.414,-0.285,...,3.693,-1.872,2.574,-6.805,4.903,-3.967,3.265,8.891,6.571,3.306
252,-0.682,4.059,5.117,-2.696,0.966,4.242,0.793,0.214,-2.879,0.692,...,3.693,-0.895,2.085,2.960,9.786,6.775,4.242,8.891,12.431,4.283
253,-0.193,2.106,8.046,9.511,0.478,9.613,-0.183,11.932,-5.320,2.645,...,-3.143,-0.895,1.597,11.261,10.763,14.587,2.777,11.820,15.849,4.771
254,3.225,1.617,10.000,18.789,2.431,-4.547,5.676,-11.505,11.770,5.575,...,-0.214,-1.383,0.621,14.191,6.856,16.052,-0.153,17.680,16.337,6.236
255,7.619,4.059,11.464,21.230,5.361,5.219,0.305,2.655,-2.879,10.457,...,-13.885,-1.872,1.109,11.749,1.485,13.123,-2.594,23.539,14.872,8.677